.padding-top-xs { padding-top: 5px; }

.padding-top-s { padding-top: 10px; }

.padding-top-m { padding-top: 15px; }

.padding-top-l { padding-top: 20px; }

.padding-top-xl { padding-top: 25px; }

.padding-top-xxl { padding-top: 30px; }

.padding-left-m { padding-left: 15px; }

.padding-left-l { padding-left: 20px; }

.padding-left-xl { padding-left: 25px; }

.padding-left-xxl { padding-left: 30px; }

.padding-bottom-m { padding-bottom: 15px; }

.padding { padding: 15px; }

.padding-s { padding: 20px; }

.margin-top-xs { margin-top: 5px; }

.margin-top-s { margin-top: 10px; }

.margin-top-m { margin-top: 15px; }

.margin-top-l { margin-top: 20px; }

.margin-top-xl { margin-top: 25px; }

.margin-top-xxl { margin-top: 30px; }

.margin-right-s { margin-right: 10px; }

.margin-right-m { margin-right: 15px; }

.margin-right-l { margin-right: 20px; }

.margin-right-xl { margin-top: 25px; }

.margin-left-s { margin-left: 10px; }

.margin-left-m { margin-left: 15px; }

.margin-left-l { margin-left: 20px; }

.margin-left-xl { margin-top: 25px; }

.bold-500{
    font-weight: 500;
}
.bold-600{
    font-weight: 600;
}
.bold-700{
    font-weight: 700;
}
.bold-800 {
    font-weight: 800;
}

.all-height {
    height: 100%;
    min-height: 100%;
}

.display-inline {
    display: inline;
}
.text-right {
    text-align: right;
}
.text-center{
  text-align: center;
}

.no-uldots {
    list-style: none;
}

.no-margin {
    margin: 0 !important;
}

.text-muted-sm {
    color: $gray_muted;
    font-size: 13px;
}
.hand {
    cursor: pointer;
    outline: none;
    border: 1px solid #777;
}
.flex {
  display: flex;
}
*:focus {
  outline: none;
}
.hide {
  display: none;
}

