html, body{
  height: 100%;
}
.content {
  height: 100%;
  position: relative;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.top{
  background-color: white;
  position: relative;
  padding: 20px;
  height: 140px;
  .cloud {
    width: 30px;
    position: absolute;
    &.night {
      content:url(/assets/img/star.png);
    }
    &.cloud-1 {
      top: 70px;
      left: 170px;
      &.night {
        content:url(/assets/img/stars.png);
      }
    }
    &.cloud-2 {
      top: 20px;
      left: 180px;
    }
    &.cloud-3 {
      top: 30px;
      left: 221px;
    }
  }
  #btn-sun {
    .info {
      right: 0px;
      color: #666;
      position: absolute;
      bottom: 0px;
    }
  }
  #sun {
    width: 40px;
    transition: all 0.7s;
    &.sun0{
      content:url(/assets/img/moon2.png);
      width: 70px;
    }
    &.sun01{
      width: 40px;
    }
    &.sun02{
      width: 50px;
    }
    &.sun03{
      width: 70px;
    }
  }
}
.body {
  display: flex;
  justify-content: space-between;
  .panel {
    text-align: center;
    width: 115px;
  }
  .regulator{
    text-align: center;
    position: relative;
    .btn{
      position: relative;
    }
    .info{
      position: absolute;
      font-size: 15px;
      width: 45px;
      top: -30px;
      z-index: 9;
      left:50%;
      margin-left:-22.5px;
    }
    #wifi{
      position:absolute;
      top: 0;
      right: -60px;
      width: 40px;
    }
  }
  .cloud-ele{
    img {
      width: 80px;
    }
  }
  #regulator {
    width: 70px;
    @media(min-width: 600px){
      width: 140px;
    }
  }
  #panel {
    width: 90px;
  }
}
.bot {
  .energy {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .btn{
      position: relative;
    }
    .info{
      position: absolute;
      bottom: -4px;
      left: 32px;
      font-size: 10px;
    }
    @media(min-width: 800px){
      justify-content: space-around;
    }
  }
  .appliances{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    @media(min-height: 641px){
      margin-top: 10px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    .appliance{
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn {
        padding-bottom: 2px;
        border-bottom: 5px solid $green;
      }
      .info {
        color: #000;
      }
    }
    #indicator_power{
      position: absolute;
      top: -35px;
      left: 7px;
      .nums {
        font-size: 11px;
      }
      .blocks {
        span {
          display: inline-block;
          width: 9px;
          height: 12px;
          background-color: #777;
          &.on {
            background-color: $red;
          }
        }
      }
    }
  }
  #battery {
    height: 100px;
  }
  #electrical {
    height: 100px;
  }
}

#canvas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 90%;
  height: 90%;
  max-width: 900px;
  max-height: 600px;
}
.line {
  position: absolute;
  background-color: black;
  display:none;
  height: 4px;
  width: 4px;
}
.info {
  font-weight: bold;
  font-size: 12px;
  color: $red;
  margin: 6px;
  display: inline-block;
}

/*
 *material btns
 */
  .btn {
    position: relative;
    display: block;
    padding: 14px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    background-color: $white;
    transition: background-color .3s;
    &:hover, &:focus {
      background-color: darken($white, 5);
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      padding-top: 0;
      border-radius: 100%;
      background-color: rgba(236, 240, 241, .3);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}
/*
 *animation lines
 */
  .durations {
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    &.x2 {
      animation-duration: 10s;
    }
    &.x3 {
      animation-duration: 5s;
    }
  }

  //NORMAL ANIMATION 

  @keyframes animatedBackground {
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
  }
  .animate-line{ 
    background-image: url(/assets/img/pattern.jpg);
    background-position: 100% 0;
    background-repeat: repeat-x;

    animation-name: animatedBackground;
    @extend .durations
  }

  //INVERT ANIMATION 

  @keyframes animatedBackgroundI {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }
  .animate-line-i{ 
    background-image: url(/assets/img/pattern.jpg);
    background-position: 0 0;
    background-repeat: repeat-x;

    animation-name: animatedBackgroundI;
    @extend .durations
  }

  //VERTICAL ANIMATION

  @keyframes animatedBackgroundV {
    from { background-position: 0 100%; }
    to { background-position: 0 0; }
  }
  .animate-line-v{ 
    background-image: url(/assets/img/pattern2.jpg);
    background-position: 0 100%;
    background-repeat: repeat-x;

    animation-name: animatedBackgroundV;
    @extend .durations
  }

  .off {
	filter: gray;
	filter: url(/assets/svg/grayscale.svg);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
  }


